.backBtn {
  position: fixed;
  display: block;
  bottom: 4%;
  left: 6%;
  width: 8rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .page header {
    padding-left: 28%;
  }
  .page_title {
    font-size: 5rem;
  }
  .backBtn {
    width: 5rem;
  }
}

@media (max-width: 768px) {
  .page header {
    padding-left: 28%;
  }
  .page_title {
    font-size: 4rem;
  }
  .backBtn {
    width: 5rem;
  }
}

@media only screen and (max-device-width: 480px) {
  .page header {
    padding-left: 20%;
  }
  .page_title {
    font-size: 3rem;
  }
  .backBtn {
    bottom: 5%;
  }
}
