.heartDoodle {
  position: absolute;
  pointer-events: none;
  bottom: 5%;
  right: 5%;
  transform: rotate(-5deg);
  width: 7rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .heartDoodle {
    bottom: 4%;
    width: 5rem;
  }
}

@media (max-width: 768px) {
  .heartDoodle {
    bottom: 5%;
    width: 5rem;
  }
}

@media only screen and (max-device-width: 480px) {
  .heartDoodle {
    bottom: 8%;
  }
}

@media screen and (max-height: 850px) {
  .heartDoodle {
    bottom: 10%;
  }
}
