.passed_note {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 8rem;
}

@media (max-width: 768px) {
  .passed_note {
    margin-top: 4rem;
  }
}

@media only screen and (max-device-width: 480px) {
  .passed_note {
    margin-top: 3rem;
  }
}
